<div class=''>
  <h1><%= @post.title %></h1>
</div>
<div>
  <h6><%= @user.username %></h6>
  <h6><%= @user.email %></h6>
</div>
<div>
  <p><%= @post.description %></p>
  <p><%= @post.price %></p>
</div>







